/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

p {
  background-color: tomato;
  width: 20em;
  padding: 2em;
  font-family: fantasy;
  font-size: 2em;
  transform: rotate(-5deg);
  transition: .2s;
}

p.anders {
  background-color: goldenrod;
  border-radius: 2em;
  transform: rotate(0deg);
}